.wysiwyg{
  h1{
    font-size: 3.5rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1.5rem;
  }
  p{
    margin-bottom: 2rem;
  }
  ul, ol {
    li{
      margin-bottom: 0.5rem;
    }
  }
  img{
    margin: 1rem;
  }
}
