.btn{
  font-size: 20px;
  &:global(.btn-pressed) {
    background: aqua;
  }
  &:global(.btn-over) {
    background: brown;
  }
  :global{
    .label{
      margin-right: 10px;
    }
  }
}
.red{
  color: red;
}
